html {
    scroll-behavior: smooth;
    box-sizing: border-box;   
}

*,
*::before,
*::after {
    box-sizing: inherit;
    
}

a {
    padding-right: 20px;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}


img {
    max-width: 100%;
}

body {
    font-family: 'Georgia', sans-serif;
    background-color: #adbbda;
    color: #040e35;
    overflow-x:hidden;
}



.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


h1 {
    margin: 0;
    padding-top: 80px;
    font-weight: 800;
    font-size: 138px;
    line-height: 130px;
    color: red;
}

h2 {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
}

h3 {
    margin: 0;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.section-offset {
    padding-top: 10px;
    padding-bottom: 40px;
}

.flex {
    display: flex;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.titicon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: 50px;
    height: 50px;
}

.icon-title {
    font-size: x-large;
    font-weight: bold;
    padding-left: 10px;
    margin: 0;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-form-join{
    margin-right: 20px;
}

.about-btn {
    padding: 10px 20px;
    color: #adbbda;
    background-image: linear-gradient(to right, red, blue);
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
    font-weight: bold;
    font-family: 'georiga', sans-serif;
    font-size: medium;
}

.about-btn:hover {
    transform: scale(0.8);
}


/* Hero */

.hero {
    background-image: url('../images/world-news.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    opacity: 0.7;
    text-align: center;
    color: red;
}

.hero-div1 {
    height: 70vh;
}

.hero-sub {
    font-weight: 500;
    font-size: 3.5vw;
    margin: 0;
}

.hero-div2 {
    height: 15vh;
}

.hero-more {
    font-weight: 500;
    font-size: 1.5em;
    margin: 0;
}

.arrow {
    color: #ffffff;
}


/* Navigation */

.navigation {
    background-color: #8697c4;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 7;
    color:#040e35;
}

.list-nav {
    margin: 0;
    padding: 0;
}

.header-list-item {
    font-family: 'Georgia', sans-serif;
    font-size: min(4.8vh, 25px);
    text-align: center;
    margin-left: 30px;
}

.header-list-item:first-child{
    margin-left: 45px;
}


.header-list-item:not(:last-child) {
    padding-right: 30px;
}

.header-list-item:last-child {
    padding-right: 15px;
}

.header-link{
    padding: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Section 1. Usefulness */

.center-item {
    justify-content: center;
}

.div-colsec {
    margin-left: 50px;
    width: 450px;
}

.text-col-sec {
    text-align: justify;
    font-size: 28px;
    font-weight: 500;
    line-height: 48px;
    margin: 0;
}

.sec1-4-image {
    border-radius: 30px;
    max-width: 450px;
    height: 450px;
    margin-right: 50px;
}

/* Section 2. Newspapers we work with */

.principles-list {
    justify-content: space-evenly;
}

.principles-item{
    flex-direction: column;
    align-items: center;
}

.principles-item:not(:last-child) {
    margin-right: 30px;
}

.principles-item-header {
    margin-bottom: 10px;
}

.principles-columns {
    max-width: 300px;
    border-radius: 30px;
    outline: 2px solid #263675;
    background-color: #263675;
    min-height: 515px;
}

.principle-img {
    width: 100%;
    border-radius: 30px 30px 0 0;
}

.principles-item-desc {
    padding: 0 20px 10px 20px;
    border-radius: 0 0 30px 30px;
    background-color: #263675;
    color: #adbbda;
    text-align: justify;
    font-size: 20px;
}

/* Section 3- Our Team */

.tools-desc-mob {
    display: none;
}

.tools-list {
    justify-content: space-evenly;
}

.tools-item{
    flex-direction: column;
    align-items: center;
    min-height: 580px;
}

.tools-item:not(:last-child) {
    margin-right: 40px;
}

.tools-columns {
    width: 250px;
    min-height: 580px;
    margin-bottom: 10px;
    text-align: center;
}

.tools-links {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.tools-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #263675;
    border-radius: 100%;  
}

.tools-img:hover {
    transform: scale(0.8);
}

.tools-text {
    border-radius: 30px;
    outline: 2px solid #263675;
    min-height: 352px;
    padding: 15px;
}

.tools-name{
    padding: 10px;
    margin: 0;
    border-radius: 30px 30px 0 0;
    background-color: #263675;
    color: #adbbda;
    font-size: 22px;
}

.tools-desc {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.tools-desc::after {
    content: attr(data-desc);
    font-weight: normal;
    display: block;
    margin-top: 5px;
    font-size: 16px;
}

.animation:hover {
    animation-play-state: paused;
    cursor: grab;
}

/* Footer */
.foot {
    background-color: #263675;
    color: #adbbda;
    
}

.foot-container{
    padding: 20px 0;
}

.footer-top{
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 50px;
}

.foot-icon{
    padding: 0;
}

.foot-content {
    justify-content: space-between;
    margin: 0 20px;
    margin-bottom: 50px;
}

.foot-info {
    margin: 0;
    margin-right: 20px;
    max-width: 700px;
}

.description{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: justify;
}

.foot-link {
    padding: 0;
}

.qr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-p {
    margin: 0;
    margin-bottom: 20px;
}

.imgqr {
    max-width: 150px;
}

.copyright {
    height: 5vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-grow: 3;
}

.copyright p{
    margin: 0;
    padding: 0;
}
